In [1]:
import pandas as pd
import numpy as np
from flask import Flask, render_template, url_for, request,jsonify
import pickle
import math
import base64
from zipfile import ZipFile
from lightgbm import LGBMClassifier
import uvicorn
import requests 
import json

In [2]:
#to run :
#en mode local :dans le dossier du fichier api.py faire python app.py puis dans le navigateur aller à http://127.0.0.1:5000/

# imporeter les packages et librairies 
import pandas as pd
import numpy as np
from flask import Flask, render_template, url_for, request,jsonify
import pickle
import math
import base64
from zipfile import ZipFile
from lightgbm import LGBMClassifier
import uvicorn
import api

# Charger le fichier de données à partir de l'archive zip et le lire en tant que dataframe
z = ZipFile("df_test_imputed.zip") # le dataset final avec Standardisation et encodage
dataframe = pd.read_csv(z.open('df_test_imputed.csv'), index_col='SK_ID_CURR', encoding ='utf-8')

# extrait tous les ID client uniques du dataframe et les stocke dans la liste
#all_id_client = list(dataframe['SK_ID_CURR'].unique())

# Charger le modèle entraîné à partir dcustomer_not_foundu fichier pickle
model = pickle.load(open('best_final_prediction.pickle', 'rb'))

In [272]:
url = "http://127.0.0.1:5000/check_id/{id_client}"

#url = "http://127.0.0.1:5000/client_id"

In [451]:
id_client = 100001

In [459]:
  # Préparer l'URL de l'API en remplaçant {id_client} par l'ID du client réel
api_url = url.replace("{id_client}", str(id_client))
api_url

'http://127.0.0.1:5000/check_id/100245'

In [460]:
# Envoyer la requête GET à l'API de prédiction
response = requests.get(api_url)

In [461]:
response

In [462]:
data = response.text

In [447]:
data = response.json()

In [463]:
import pandas as pd

# Supposons que vous ayez reçu les données dans une variable 'json_data'
df = pd.read_json(data)
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,DAYS_EMPLOYED_ANOM,PREVIOUS_APPLICATION_COUNT,MOST_CREDIT_TYPE,PREVIOUS_LOANS_COUNT,CREDIT_PERCENT_INCOME,ANNUITY_CREDIT_PERCENT_INCOME,CREDIT_REFUND_TIME,DAYS_EMPLOYED_PERCENT,EXT_SOURCE_1
0,100245,Cash_loans,F,N,N,0,112500,364896,20947.5,315000,Unaccompanied,Working,Incomplete_higher,Married,House_/_apartment,0.016612,-13365,-1397,-5725,-5788,1,1,0,1,0,0,2,2,2,FRIDAY,17,0,0,0,0,0,0,Industry:_type_12,0.67089,0.546023,0.1814,0.0292,0.9752,0,0.0345,0.1667,0.0759,0.0898,0.006,0.1849,0.0303,0.9752,0,0.0345,0.1667,0.0777,0.0935,0.0064,0.1832,0.0292,0.9752,0,0.0345,0.1667,0.0773,0.0914,0.0062,block_of_flats,0.0825,"Stone,_brick",No,1,0,1,0,-2264,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,37,False,10,Consumer_credit,NaN,3.24352,0.1862,17.419549,0.104527,0.637953

In [449]:
# Créer un DataFrame à partir de l'objet JSON
df = pd.DataFrame(data)
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AGE,DAYS_EMPLOYED_ANOM,PREVIOUS_APPLICATION_COUNT,MOST_CREDIT_TYPE,PREVIOUS_LOANS_COUNT,CREDIT_PERCENT_INCOME,ANNUITY_CREDIT_PERCENT_INCOME,CREDIT_REFUND_TIME,DAYS_EMPLOYED_PERCENT,EXT_SOURCE_1
0,100245,Cash_loans,F,N,N,0,112500.0,364896.0,20947.5,315000.0,Unaccompanied,Working,Incomplete_higher,Married,House_/_apartment,0.016612,-13365,-1397.0,-5725.0,-5788,1,1,0,1,0,0,2.0,2,2,FRIDAY,17,0,0,0,0,0,0,Industry:_type_12,0.67089,0.546023,0.1814,0.0292,0.9752,0.0,0.0345,0.1667,0.0759,0.0898,0.006,0.1849,0.0303,0.9752,0.0,0.0345,0.1667,0.0777,0.0935,0.0064,0.1832,0.0292,0.9752,0.0,0.0345,0.1667,0.0773,0.0914,0.0062,block_of_flats,0.0825,"Stone,_brick",No,1.0,0.0,1.0,0.0,-2264.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,37,False,10.0,Consumer_credit,None,3.24352,0.1862,17.419549,0.104527,0.637953

In [425]:
df.shape

(1, 112)

In [400]:
df = pd.DataFrame(data)
df

ValueError: DataFrame constructor not properly called!

In [344]:
df = pd.DataFrame(data)
df.shape

(1, 112)

In [356]:
z = ZipFile("data/real_data_clean_test.zip")
data_origin = pd.read_csv(z.open('real_data_clean_test.csv'), encoding ='utf-8')

In [359]:
data_origin=data_origin[data_origin["SK_ID_CURR"]==id_client]
data_origin

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,AGE,DAYS_EMPLOYED_ANOM,PREVIOUS_APPLICATION_COUNT,MOST_CREDIT_TYPE,PREVIOUS_LOANS_COUNT,CREDIT_PERCENT_INCOME,ANNUITY_CREDIT_PERCENT_INCOME,CREDIT_REFUND_TIME,DAYS_EMPLOYED_PERCENT,EXT_SOURCE_1
14,100245,Cash_loans,F,N,N,0,112500.0,364896.0,20947.5,315000.0,...,37,False,10.0,Consumer_credit,NaN,3.24352,0.1862,17.419549,0.104527,0.637953

In [369]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 250)

In [379]:
# Comparer les lignes
resultat = df.iloc[0].equals(data_origin.iloc[0])

# Afficher le résultat
resultat

False

In [355]:
df["NAME_TYPE_SUITE"]

14    Unaccompanied
Name: NAME_TYPE_SUITE, dtype: object

In [58]:
def predict_loan_approval(id_client, url): # fonction via API
    # Préparer les données pour la requête
    #data = {'id_client': id_client}
    id_client = int(id_client)

    # lien vers la fonction + id 
    id = "/{id_client}"
    url2 = url+id

    # Préparer l'URL de l'API en remplaçant {id_client} par l'ID du client réel
    api_url = url2.replace("{id_client}", str(id_client))

    # Envoyer la requête GET à l'API de prédiction
    response = requests.get(api_url)

    # Vérifier si la requête a réussi (code de réponse HTTP 200)
    if response.status_code == 200:
        # Extraire les résultats de la réponse JSON
        result = response.text
        
        # Vérifier si le résultat est une chaîne vide
        if not result:
            return None
        else:
            # Convertir le résultat en dataframe
            df = pd.read_json(result)
            return df
    else:
        print(f'Erreur lors de la requête vers l\'API : erreur {response.status_code}')
        return None

In [65]:
url_check_id = "http://127.0.0.1:5000/check_id"
url_identite_client = "http://127.0.0.1:5000/client_id"
url_predict_client = "http://127.0.0.1:5000/predict"
url_inf_client = "http://127.0.0.1:5000/inf_client"

id_client = 100245

In [497]:
df_origin = predict_loan_approval(id_client, url_identite_client)
df_origin.shape

(25345, 112)

In [66]:
df_origin = predict_loan_approval(id_client, url_check_id)
df_origin

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,AGE,DAYS_EMPLOYED_ANOM,PREVIOUS_APPLICATION_COUNT,MOST_CREDIT_TYPE,PREVIOUS_LOANS_COUNT,CREDIT_PERCENT_INCOME,ANNUITY_CREDIT_PERCENT_INCOME,CREDIT_REFUND_TIME,DAYS_EMPLOYED_PERCENT,EXT_SOURCE_1
0,100245,Cash_loans,F,N,N,0,112500,364896,20947.5,315000,...,37,False,10,Consumer_credit,NaN,3.24352,0.1862,17.419549,0.104527,0.637953

In [67]:
if df_origin.empty :
    # Vérifier l'existance de l'identifiant client via l'API
    print("Ce client n'est pas répertorié")  # Afficher un message indiquant que le client n'est pas répertorié

else: print("le client existe")

le client existe

In [13]:
df_origin = predict_loan_approval(id_client, url_check_id)
data_origin = df_origin.set_index('SK_ID_CURR')
check = data_origin[data_origin.index == int(id_client)]

ValueError: Expected object or value

In [496]:
df_origin = predict_loan_approval(id_client, url_identite_client)
data_origin = df_origin.set_index('SK_ID_CURR')
identite_client = data_origin[data_origin.index == int(id_client)]
identite_client.shape

(1, 111)

In [494]:
# Récupérer les informations client via l'API pour la prédiction 
df_clean = predict_loan_approval(id_client,url_predict_client)
data_clean = df_clean.set_index('SK_ID_CURR')
predict_client = data_clean[data_clean.index == int(id_client)]
predict_client.shape

(1, 209)

In [495]:
 # Récupérer les informations du client sans normalisation via l'API
df_clean_without_standard = predict_loan_approval(id_client,url_inf_client)
data_clean_without_standard = df_clean_without_standard.set_index('SK_ID_CURR')
client_without_standard = data_clean_without_standard[data_clean_without_standard.index == int(id_client)]
client_without_standard.shape

(1, 209)

In [475]:
api_url = url_predict_client.replace("{id_client}", str(id_client))

In [476]:
response = requests.get(api_url)

In [477]:
response

In [478]:
data = response.text

In [480]:
df = pd.read_json(data)
df.shape

(1, 210)

In [174]:
id_client = int(id_client)

In [200]:
a = ZipFile("data/df_test_imputed.zip") # le dataset final avec Standardisation et encodage

b = ZipFile("data/real_data_clean_test.zip")
# extrait tous les ID client uniques du dataframe et les stocke dans la liste

c = ZipFile("data/test_imputed_without_standardisation.zip")

In [254]:
def classify_client(model, ID, df, seuil):
    ID = int(ID)
    X = df[df.index == ID]
    #X = X.drop(['TARGET'], axis=1) #if df_train_imputes.csv
    probability_default_payment = model.predict_proba(X)[:, 1]
    if probability_default_payment >= seuil:
        prediction = "Prêt NON Accordé"
    else:
        prediction = "Prêt Accordé"
    return probability_default_payment, prediction